openapi: 3.0.1
info:
  contact:
    url: https://access.redhat.com/support/cases/
  description: API for Red Hat Subscription Management
  title: RHSM-API
  version: 1.313.0
servers:
- url: https://api.access.redhat.com/management/v1
security:
- Bearer: []
tags:
- name: allocation
- name: cloudaccess
- name: errata
- name: images
- name: packages
- name: subscription
- name: system
paths:
  /allocations:
    get:
      description: The default and max number of results in a response are 100.
      operationId: listAllocations
      parameters:
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      - in: query
        name: type
        schema:
          enum:
          - SAM
          - Satellite
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_200_response'
          description: list of allocations
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all allocations for a user
      tags:
      - allocation
    post:
      description: |-
        Create Satellite by name and version(optional).
        Customers can use any version listed in the `/v1/allocations/versions` endpoint (use attribute `value`).
        If no version is specified, it will take the latest available version for Satellite.
      operationId: createSatellite
      parameters:
      - description: "must be less than 100 characters and use only numbers, letters,\
          \ underscores, hyphens, and periods"
        in: query
        name: Name
        required: true
        schema:
          type: string
      - in: query
        name: version
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSatellite_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Create Satellite
      tags:
      - allocation
  /allocations/versions:
    get:
      description: Returns list of Satellite version 6.0 and above
      operationId: listVersionsAllocation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listVersionsAllocation_200_response'
          description: list of Satellite version
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List Satellite versions
      tags:
      - allocation
  /allocations/{uuid}:
    delete:
      description: |-
        The default success response will be 204

        System, RHUI, Hypervisor are unsupported allocation types
      operationId: removeAllocation
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: |-
          Deleting a subscription allocation can have significant impacts on your hosts and activation keys.
          We require a force parameter to make sure the delete operation is intentional.
        in: query
        name: force
        required: true
        schema:
          enum:
          - true
          type: boolean
      responses:
        "204":
          content: {}
          description: Successfully removed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: GatewayTimeout error
      summary: Remove allocation profile
      tags:
      - allocation
    get:
      description: "System, RHUI, Hypervisor are unsupported allocation types"
      operationId: showAllocation
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: Show more details about a allocation
        in: query
        name: include
        schema:
          enum:
          - entitlements
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/showAllocation_200_response'
          description: ShowAllocation200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Get an allocation by UUID
      tags:
      - allocation
    put:
      description: |-
        Allows to update simpleContentAccess for Satellite of version 6.3 and above
        Possible value for simpleContentAccess are:

        - enabled
        - disabled
      operationId: updateAllocation
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAllocation_request'
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Update an allocation
      tags:
      - allocation
      x-codegen-request-body-name: allocation
  /allocations/{uuid}/entitlements:
    post:
      description: |-
        The default success response will be 200.

        System, RHUI, Hypervisor are unsupported allocation types.
        SAM 1.3 or higher, and Satellite 5.6 versions are supported.
      operationId: attachEntitlementAllocation
      parameters:
      - in: query
        name: pool
        required: true
        schema:
          type: string
      - description: quantity you want to attach
        in: query
        name: quantity
        schema:
          type: integer
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/showAllocation_200_response'
          description: AttachEntitlement200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Attach entitlement to allocation
      tags:
      - allocation
  /allocations/{uuid}/entitlements/{EntitlementID}:
    delete:
      description: The default success response will be 204.
      operationId: removeAllocationEntitlement
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: Remove an entitlement from an allocation
        in: path
        name: EntitlementID
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successfully removed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Remove entitlement from the allocation
      tags:
      - allocation
    put:
      description: |-
        The default success response will be 200.
        System, RHUI, Hypervisor are unsupported allocation types
      operationId: updateEntitlementAllocation
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - in: path
        name: EntitlementID
        required: true
        schema:
          type: string
      - description: |-
          maxItem: quantity must be less than or equal to the maximum number of allowed entitlements in the entitlement pool
          minItem: 1
        in: query
        name: quantity
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/showAllocation_200_response'
          description: Success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Update attached entitlement to allocation
      tags:
      - allocation
  /allocations/{uuid}/export:
    get:
      description: |-
        Starts job to generate export for an allocation. To check the status of the export job visit the href in the response.

        System, RHUI, Hypervisor are unsupported allocation types. SAM 1.2 or lower and Satellite 5.9 or lower versions are unsupported.
      operationId: exportAllocation
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportAllocation_200_response'
          description: ExportAllocation200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Trigger allocation manifest export
      tags:
      - allocation
  /allocations/{uuid}/export/{ExportID}:
    get:
      description: |-
        Success response contains a zip file. The link is one-time download and expires after one try. Trigger export job to get another download link.

        Content-Type: application/zip
      operationId: getExportAllocation
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - in: path
        name: ExportID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/zip:
              schema:
                items:
                  type: integer
                type: array
          description: GetExportAllocation200 is the success response
        "400":
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Download allocation manifest
      tags:
      - allocation
  /allocations/{uuid}/exportJob/{ExportJobID}:
    get:
      description: Returns export download link in response.
      operationId: exportJobAllocation
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - in: path
        name: ExportJobID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportJobAllocation_200_response'
          description: ExportJobAllocation200 is the success response
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportJobAllocation_202_response'
          description: AcceptedExportJob202 is a response for accepted and in progress
            job
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotAcceptable error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Check status of allocation manifest export
      tags:
      - allocation
  /allocations/{uuid}/pools:
    get:
      description: "System, RHUI, Hypervisor are unsupported allocation types. SAM\
        \ 1.3 or higher, and Satellite 5.6 versions are supported."
      operationId: listAllocationPools
      parameters:
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      - description: include future dated pools for satellite 6.3 or higher
        in: query
        name: future
        schema:
          enum:
          - true
          type: boolean
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/poolsListMock'
          description: ListAllocationPools200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all pools for an allocation
      tags:
      - allocation
  /allocations/{uuid}/{EntitlementID}:
    delete:
      deprecated: true
      description: The default success response will be 204.
      operationId: removeAllocationEntitlementDeprecated
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - description: Remove an entitlement from an allocation
        in: path
        name: EntitlementID
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successfully removed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Remove entitlement from the allocation
      tags:
      - allocation
  /cloud_access_providers/enabled:
    get:
      description: |
        Returns the full list of all enabled Red Hat products and Cloud Access provider accounts/subscriptions associated with the user’s Red Hat account.
        - For Products that are expired `nextRenewal` field would be omitted and `totalQuantity` would be `0`.
        - Product objects can have `totalQuantity` field as `-1` indicating `Unlimited` quantity available.
        - The `nextRenewalDate` field of a Product has the format `YYYY-MM-DD`.
        - The `goldImageStatus` details are available for an account when the Provider is a certified Gold Image Provider and the account has been requested for gold image access. The `status` field of a goldImageStatus object could be `"Requested"`, `"Granted"` or `"Failed"`.
        - The `imageGroups` field is available for a product when the Provider is a certified Gold Image Provider, and the product has a gold image group available for it.
      operationId: listEnabledCloudAccessProviders
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listEnabledCloudAccessProviders_200_response'
          description: A JSON response object listing cloud access providers and their
            accounts and products.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all enabled cloud access providers for a user
      tags:
      - cloudaccess
  /cloud_access_providers/{ProviderShortName}/accounts:
    delete:
      description: |
        Removes a currently-enabled provider account, including removing access to Gold Images, where applicable. You can find a list of currently-enabled provider accounts and provider short names from the `/v1/cloud_access_providers/enabled` endpoint.
      operationId: RemoveProviderAccount
      parameters:
      - in: path
        name: ProviderShortName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveProviderAccount_request'
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Remove a provider account
      tags:
      - cloudaccess
      x-codegen-request-body-name: account
    post:
      description: |
        Add up to `100` new provider accounts, with optional nicknames, to a currently-enabled provider for Red Hat Cloud Access. You can find a list of currently-enabled provider accounts and provider short names from the `/v1/cloud_access_providers/enabled` endpoint.
      operationId: AddProviderAccounts
      parameters:
      - in: path
        name: ProviderShortName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AddProviderAccount'
              type: array
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Add accounts for a provider
      tags:
      - cloudaccess
      x-codegen-request-body-name: account
  /cloud_access_providers/{ProviderShortName}/accounts/{AccountID}:
    put:
      description: |
        Updates the nickname for a currently-enabled provider account. You can find a list of currently-enabled provider accounts and provider short names from the `/v1/cloud_access_providers/enabled` endpoint.
      operationId: UpdateProviderAccount
      parameters:
      - in: path
        name: ProviderShortName
        required: true
        schema:
          type: string
      - in: path
        name: AccountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProviderAccount_request'
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Update provider account
      tags:
      - cloudaccess
      x-codegen-request-body-name: account
  /cloud_access_providers/{ProviderShortName}/accounts/{AccountID}/verification:
    put:
      description: |
        Verifies a cloud provider account for use with RHSM Auto Registration, which allows for cloud instances to automatically register with RHSM upon provisioning.

        Auto Registration is currently only available for the following cloud providers:
          - AWS
          - AWS GovCloud
          - ACS China
          - Microsoft Azure
          - Google Cloud Provider


        This endpoint accepts a cloud instance "identity" document and "signature" from the cloud provider's metadata service. Use the following links for more info on how to obtain these:
         - For AWS: [EC2 Instance Identity Document](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-identity-documents.html) and [Signature](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/verify-rsa2048.html)
         - For Azure: [Azure Instance Metadata](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service) and [Signature](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/instance-metadata-service?tabs=linux#attested-data)
         - For GCP: [Compute Engine Instance Identity JWT token](https://cloud.google.com/compute/docs/instances/verifying-instance-identity#request_signature). Note: Please use "https://subscription.rhsm.redhat.com:443/subscription" as value for "audience" query parameter and "full" as value for "format" query parameter while generating the token


        An HTTP 400 response will be returned if the cloud provider does not support automatic registration, the signature of the document cannot be verified, the cloud provider account has already been verified for a different Red Hat account, or if the account in the instance metadata does not match the provided account ID.

        An HTTP 204 response will be returned if the account has been successfully verified. Attempts to verify an account that is already verified will return an HTTP 204 response with no changes being made.
      operationId: VerifyProviderAccount
      parameters:
      - in: path
        name: ProviderShortName
        required: true
        schema:
          enum:
          - AWS
          - AGOV
          - ACN
          - MSAZ
          - GCE
          type: string
      - in: path
        name: AccountID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyProviderAccount_request'
        required: false
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Verify a provider account
      tags:
      - cloudaccess
      x-codegen-request-body-name: account
  /cloud_access_providers/{ProviderShortName}/goldimage:
    post:
      description: |
        Requests access to Red Hat Gold Images, where available, for currently-enabled products and provider accounts. Customers can request Red Hat Gold Images for account IDs and product image groups listed in the `/v1/cloud_access_providers/enabled` endpoint using the provider short name listed in the same response. After the request has been accepted for processing, gold image status for accounts can be checked in the `/v1/cloud_access_providers/enabled` endpoint response.
      operationId: EnableGoldImages
      parameters:
      - in: path
        name: ProviderShortName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableGoldImages_request'
        required: false
      responses:
        "202":
          content: {}
          description: "Accepted: The request has been accepted for processing, but\
            \ the processing has not been completed."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Enable Gold image access
      tags:
      - cloudaccess
      x-codegen-request-body-name: goldImages
  /errata:
    get:
      description: The default and max results in a response are 1000.
      operationId: listErrata
      parameters:
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myErrataListMock'
          description: ListErrata200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all errata for a user's systems
      tags:
      - errata
  /errata/cset/{ContentSet}/arch/{Arch}:
    get:
      description: Limit is the number of results in a response. The default limit
        is 50 and max limit is 100.
      operationId: listErrataByContentSetArch
      parameters:
      - in: path
        name: ContentSet
        required: true
        schema:
          type: string
      - in: path
        name: Arch
        required: true
        schema:
          type: string
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contentSetArchMock'
          description: ListErrataByContentSetArch200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Get all the errata for the specified content set and arch
      tags:
      - errata
  /errata/{AdvisoryID}:
    get:
      description: This will get the details of an advisory specified by its advisoryID.
      operationId: showErratum
      parameters:
      - description: unique identifier for a Red Hat advisory
        in: path
        name: AdvisoryID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/showErratum_200_response'
          description: ShowErratum200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Get the details of an advisory
      tags:
      - errata
  /errata/{AdvisoryID}/packages:
    get:
      description: The default and max results in a response are 50.
      operationId: listErratumPackages
      parameters:
      - description: unique identifier for a Red Hat advisory
        in: path
        name: AdvisoryID
        required: true
        schema:
          type: string
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pkgListMock'
          description: ListErratumPackages200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all packages for an advisory
      tags:
      - errata
  /errata/{AdvisoryID}/systems:
    get:
      description: The default and max results in a response are 1000.
      operationId: listErratumSystems
      parameters:
      - description: unique identifier for a Red Hat advisory
        in: path
        name: AdvisoryID
        required: true
        schema:
          type: string
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/systemListMock'
          description: ListErratumSystems200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all systems for an advisory
      tags:
      - errata
  /images/cset/{ContentSet}:
    get:
      description: |
        List all the available images in a given content set. The content set parameter is expected to be
         properly formatted (for example rhel-8-for-x86_64-baseos-isos). And the user requesting the endpoint
        is expected to have Download permission (UGC). If the user is entitled to an image, a "downloadHref" attribute is added in the image response object which links to image download API. The list is paginated by default to 25 results in a response and goes to maximum 100 results in a response. Use pagination by setting offset and limit url parameters (valid integer values).
      operationId: listImagesByContentSet
      parameters:
      - in: path
        name: ContentSet
        required: true
        schema:
          type: string
      - description: maximum number of list items in a page
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listImagesByContentSet_200_response'
          description: A JSON response object containing image listing.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List available images in a content set
      tags:
      - images
  /images/rhel/{Version}/{Arch}:
    get:
      description: |
        List all the available images for the given version and architecture. The Version parameter is expected to be a valid RHEL version. Example: 8.1, 8.2 etc.
        The Arch parameter should be one of the valid RHEL architectures. Example: x86_64, aarch64 etc.
        The user requesting the endpoint is expected to have Download permission (UGC).
        If the user is entitled to an image, a "downloadHref" attribute is added in the image response object which links to image download API.
      operationId: listImageDownloadsByVersionArch
      parameters:
      - in: path
        name: Version
        required: true
        schema:
          type: string
      - in: path
        name: Arch
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listImageDownloadsByVersionArch_200_response'
          description: A JSON response object containing image downloads list.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List RHEL image downloads by version and architecture.
      tags:
      - images
  /images/{checksum}/download:
    get:
      description: |
        Find an image by its SHA256 checksum and generate a download link with a short-lived expiration. It is expected for users to obtain a new download link every time an image is downloaded and to not store the link for more than several minutes. If the user has "Download Software and Updates" permissions and a valid subscription for the image, they will receive a HTTP 307 redirect to the location on the Red Hat CDN. Clients can either follow the HTTP redirect or find the download URL in the response body.
      operationId: downloadImage
      parameters:
      - in: path
        name: checksum
        required: true
        schema:
          pattern: "^[a-f0-9]{64}$"
          type: string
      responses:
        "307":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/downloadImage_307_response'
          description: redirect to download image on the Red Hat CDN
          headers:
            Location:
              description: URL to obtain the image
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Download an image by its SHA256 checksum
      tags:
      - images
  /organization:
    get:
      description: Show Simple Content Access details of user's organization
      operationId: checkOrgSCACapability
      parameters:
      - description: Request for system purpose attributes in response
        in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkOrgSCACapability_200_response'
          description: Organization details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Get details of the user's organization
      tags:
      - organization
  /packages/cset/{ContentSet}/arch/{Arch}:
    get:
      description: The default and max results in a response are 50 and 100 respectively.
      operationId: listPackagesByContentSetArch
      parameters:
      - in: path
        name: ContentSet
        required: true
        schema:
          type: string
      - in: path
        name: Arch
        required: true
        schema:
          type: string
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      - explode: false
        in: query
        name: filter
        schema:
          items:
            enum:
            - latest
            type: string
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listPackagesByContentSetArch_200_response'
          description: ListPackagesByContentSetArch200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Get all the packages for the specified content set and arch.
      tags:
      - packages
  /packages/{Checksum}:
    get:
      description: This will get the details of a package specified by its checksum.
      operationId: showPackage
      parameters:
      - in: path
        name: Checksum
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/showPackage_200_response'
          description: ShowPackage200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Get the details of a package
      tags:
      - packages
  /packages/{checksum}/download:
    get:
      description: |
        Find a package by its SHA256 checksum and generate a download link with a short-lived expiration. It is expected for users to obtain a new download link every time a package is downloaded and to not store the link for more than several minutes. If the user has "Download Software and Updates" permissions and a valid subscription for the package, they will receive an HTTP 307 redirect to the location on the Red Hat CDN. Clients can either follow the HTTP redirect or find the download URL in the response body.
      operationId: downloadPackage
      parameters:
      - in: path
        name: checksum
        required: true
        schema:
          pattern: "^[a-f0-9]{64}$"
          type: string
      responses:
        "307":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/downloadImage_307_response'
          description: redirect to download package on the Red Hat CDN
          headers:
            Location:
              description: URL to obtain the package
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Download a package by its SHA256 checksum
      tags:
      - packages
  /subscriptions:
    get:
      description: The default and max results in a response are 50.
      operationId: listSubscriptions
      parameters:
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSubscriptions_200_response'
          description: ListSubscriptions200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all subscriptions for a user
      tags:
      - subscription
  /subscriptions/{SubscriptionNumber}/contentSets:
    get:
      description: The default and max results in a response are 1000.
      operationId: listSubContentSets
      parameters:
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      - in: path
        name: SubscriptionNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSubContentSets_200_response'
          description: ListSubContentSets200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all content sets for a subscription
      tags:
      - subscription
  /subscriptions/{SubscriptionNumber}/systems:
    get:
      description: The default and max results in a response are 100.
      operationId: listSubSystems
      parameters:
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      - in: path
        name: SubscriptionNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSubSystems_200_response'
          description: ListSubSystems200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all systems consuming a subscription
      tags:
      - subscription
  /systems:
    get:
      description: The default and max number of results in a response are 100.
      operationId: listSystems
      parameters:
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      - description: Filter Systems by System Name
        in: query
        name: filter
        schema:
          type: string
      - description: "Filter Systems by a valid User Name, where User Name is the\
          \ system owner and wildcard characters are not allowed"
        in: query
        name: username
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSystems_200_response'
          description: ListSystems200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all systems for a user
      tags:
      - system
  /systems/{SystemUUID}:
    delete:
      description: The default success response will be 204
      operationId: removeSystem
      parameters:
      - in: path
        name: SystemUUID
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successfully removed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: GatewayTimeout error
      summary: Remove system profile
      tags:
      - system
    get:
      description: Sam & Satellite systems are unsupported system types.
      operationId: showSystem
      parameters:
      - in: path
        name: SystemUUID
        required: true
        schema:
          type: string
      - description: Show more details about a system
        explode: false
        in: query
        name: include
        schema:
          items:
            enum:
            - facts
            - entitlements
            - installedProducts
            type: string
          maxItems: 3
          minItems: 1
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/showSystem_200_response'
          description: ShowSystem200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Get a system specified by UUID.
      tags:
      - system
  /systems/{SystemUUID}/entitlements:
    post:
      description: |-
        The default success response will be 200.

        Sam & Satellite systems are unsupported system types.
      operationId: attachEntitlement
      parameters:
      - in: path
        name: SystemUUID
        required: true
        schema:
          type: string
      - in: query
        name: pool
        required: true
        schema:
          type: string
      - description: quantity you want to attach
        in: query
        name: quantity
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attachEntitlement_200_response'
          description: AttachedEntitlement200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Attach entitlement to system
      tags:
      - system
  /systems/{SystemUUID}/errata:
    get:
      description: The default and max number of results in a response are 100.
      operationId: listSystemErrata
      parameters:
      - in: path
        name: SystemUUID
        required: true
        schema:
          type: string
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSystemErrata_200_response'
          description: list of advisories
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all applicable errata for a system
      tags:
      - system
  /systems/{SystemUUID}/packages:
    get:
      description: The default and max number of results in a response are 1000.
      operationId: listSystemPackages
      parameters:
      - in: path
        name: SystemUUID
        required: true
        schema:
          type: string
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      - description: Show errata details for packages
        in: query
        name: errata_detail
        schema:
          enum:
          - true
          - false
          type: boolean
      - description: Show upgradable packages only. Also accepts 'upgradable' as valid
          query.
        in: query
        name: upgradeable
        schema:
          enum:
          - true
          - false
          type: boolean
      - description: Filter packages
        in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSystemPackages_200_response'
          description: list of packages
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all packages for a system
      tags:
      - system
  /systems/{SystemUUID}/pools:
    get:
      description: The default and max number of results in a response are 50.
      operationId: listSystemPools
      parameters:
      - in: path
        name: SystemUUID
        required: true
        schema:
          type: string
      - description: max number of results you want
        in: query
        name: limit
        schema:
          type: integer
      - description: index from which you want next items
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/poolsListMock'
          description: ListSystemPools200 is the success response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: List all pools for a system
      tags:
      - system
  /systems/{SystemUUID}/{EntitlementID}:
    delete:
      description: The default success response will be 204.
      operationId: removeSystemEntitlement
      parameters:
      - in: path
        name: SystemUUID
        required: true
        schema:
          type: string
      - description: Remove an entitlement from a system
        in: path
        name: EntitlementID
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successfully removed
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: BadRequest error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Unauthorized error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: NotFound error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAllocations_400_response'
          description: InternalServerError error
      summary: Remove entitlement from the system
      tags:
      - system
components:
  responses:
    Accepted:
      content: {}
      description: "Accepted: The request has been accepted for processing, but the\
        \ processing has not been completed."
    BadRequest:
      content:
        application/json:
          schema:
            properties:
              error:
                $ref: '#/components/schemas/ErrorDetails'
            type: object
      description: BadRequest error
    Forbidden:
      content:
        application/json:
          schema:
            properties:
              error:
                $ref: '#/components/schemas/ErrorDetails'
            type: object
      description: Forbidden error
    GatewayTimeout:
      content:
        application/json:
          schema:
            properties:
              error:
                $ref: '#/components/schemas/ErrorDetails'
            type: object
      description: GatewayTimeout error
    InternalServerError:
      content:
        application/json:
          schema:
            properties:
              error:
                $ref: '#/components/schemas/ErrorDetails'
            type: object
      description: InternalServerError error
    NoContent:
      content: {}
      description: No Content
    NotAcceptable:
      content:
        application/json:
          schema:
            properties:
              error:
                $ref: '#/components/schemas/ErrorDetails'
            type: object
      description: NotAcceptable error
    NotFound:
      content:
        application/json:
          schema:
            properties:
              error:
                $ref: '#/components/schemas/ErrorDetails'
            type: object
      description: NotFound error
    Unauthorized:
      content:
        application/json:
          schema:
            properties:
              error:
                $ref: '#/components/schemas/ErrorDetails'
            type: object
      description: Unauthorized error
  schemas:
    APIPageParam:
      description: APIPageParam details the pagination parameters in APIResponse
      example:
        offset: 5
        count: 6
        limit: 1
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
      type: object
    AddProviderAccount:
      description: An account to be added
      example:
        nickname: nickname
        id: id
      properties:
        id:
          type: string
        nickname:
          type: string
      type: object
    Allocation:
      example:
        name: name
        simpleContentAccess: simpleContentAccess
        entitlementQuantity: 0
        type: type
        uuid: uuid
        version: version
        url: url
      properties:
        entitlementQuantity:
          type: integer
        name:
          type: string
        simpleContentAccess:
          type: string
        type:
          type: string
        url:
          type: string
        uuid:
          type: string
        version:
          type: string
      title: Allocation is an entity that consumes entitlements. Also referred as
        a Distributor.
      type: object
    AllocationDetails:
      description: details of a subscription allocation
      example:
        createdDate: 2006-01-02T15:04:05.000Z
        entitlementsAttachedQuantity: 6
        createdBy: createdBy
        name: name
        simpleContentAccess: simpleContentAccess
        entitlementsAttached:
          valid: true
          reason: reason
          value:
          - endDate: 2006-01-02T15:04:05.000Z
            subscriptionName: subscriptionName
            contractNumber: contractNumber
            id: id
            entitlementQuantity: 0
            sku: sku
            startDate: 2006-01-02T15:04:05.000Z
          - endDate: 2006-01-02T15:04:05.000Z
            subscriptionName: subscriptionName
            contractNumber: contractNumber
            id: id
            entitlementQuantity: 0
            sku: sku
            startDate: 2006-01-02T15:04:05.000Z
        lastModified: 2006-01-02T15:04:05.000Z
        type: type
        uuid: uuid
        version: version
      properties:
        createdBy:
          type: string
        createdDate:
          description: Date represents the date format used for API returns
          example: 2006-01-02T15:04:05.000Z
          type: string
        entitlementsAttached:
          $ref: '#/components/schemas/EntitlementsAttachedResponse'
        entitlementsAttachedQuantity:
          type: integer
        lastModified:
          description: Date represents the date format used for API returns
          example: 2006-01-02T15:04:05.000Z
          type: string
        name:
          type: string
        simpleContentAccess:
          type: string
        type:
          type: string
        uuid:
          type: string
        version:
          type: string
      type: object
    AllocationSummary:
      description: details of a subscription allocation
      example:
        createdDate: 2006-01-02T15:04:05.000Z
        entitlementsAttachedQuantity: 0
        createdBy: createdBy
        name: name
        contentAccessMode: contentAccessMode
        lastModified: 2006-01-02T15:04:05.000Z
        type: type
        uuid: uuid
        version: version
      properties:
        contentAccessMode:
          type: string
        createdBy:
          type: string
        createdDate:
          description: Date represents the date format used for API returns
          example: 2006-01-02T15:04:05.000Z
          type: string
        entitlementsAttachedQuantity:
          type: integer
        lastModified:
          description: Date represents the date format used for API returns
          example: 2006-01-02T15:04:05.000Z
          type: string
        name:
          type: string
        type:
          type: string
        uuid:
          type: string
        version:
          type: string
      type: object
    AllocationVersion:
      description: List of satellite version
      example:
        description: description
        value: value
      properties:
        description:
          type: string
        value:
          type: string
      type: object
    AttachEntitlement:
      example:
        autoAttachSetting: true
        serviceLevelPreference: serviceLevelPreference
        complianceStatus: complianceStatus
        entitlementsAttached:
          valid: true
          reason: reason
          value:
          - endDate: 2006-01-02T15:04:05.000Z
            subscriptionName: subscriptionName
            contractNumber: contractNumber
            id: id
            entitlementQuantity: 0
            sku: sku
            startDate: 2006-01-02T15:04:05.000Z
          - endDate: 2006-01-02T15:04:05.000Z
            subscriptionName: subscriptionName
            contractNumber: contractNumber
            id: id
            entitlementQuantity: 0
            sku: sku
            startDate: 2006-01-02T15:04:05.000Z
        type: type
        uuid: uuid
        installedProductsCount: 1
        factsCount: 6
        hostname: hostname
        createdDate: 2006-01-02T15:04:05.000Z
        entitlementStatus: entitlementStatus
        createdBy: createdBy
        name: name
        entitlementsAttachedCount: 0
        errataApplicabilityCounts:
          valid: true
          reason: reason
          value:
            enhancementCount: 1
            securityCount: 5
            bugfixCount: 6
        lastCheckin: 2006-01-02T15:04:05.000Z
      properties:
        autoAttachSetting:
          type: boolean
        complianceStatus:
          type: string
        createdBy:
          type: string
        createdDate:
          description: Date represents the date format used for API returns
          example: 2006-01-02T15:04:05.000Z
          type: string
        entitlementStatus:
          type: string
        entitlementsAttached:
          $ref: '#/components/schemas/EntitlementsAttachedResponse'
        entitlementsAttachedCount:
          type: integer
        errataApplicabilityCounts:
          $ref: '#/components/schemas/ErrataApplicabilityCounts'
        factsCount:
          type: integer
        hostname:
          type: string
        installedProductsCount:
          type: integer
        lastCheckin:
          description: Date represents the date format used for API returns
          example: 2006-01-02T15:04:05.000Z
          type: string
        name:
          type: string
        serviceLevelPreference:
          type: string
        type:
          type: string
        uuid:
          type: string
      title: System is an entity that consumes entitlements. Also referred as a Consumer.
      type: object
    ContentSet:
      example:
        name: name
        arch: arch
        label: label
        type: type
        enabled: true
      properties:
        arch:
          type: string
        enabled:
          type: boolean
        label:
          type: string
        name:
          type: string
        type:
          type: string
      title: ContentSet represent a contentset for the listContentSets API Response.
      type: object
    Date:
      description: Date represents the date format used for API returns
      example: 2006-01-02T15:04:05.000Z
      type: string
    DetailResponse:
      example:
        quantity: quantity
        subscriptionNumber: subscriptionNumber
        endDate: 2006-01-02T15:04:05.000Z
        subscriptionName: subscriptionName
        contractNumber: contractNumber
        pools:
        - consumed: 0
          quantity: 6
          id: id
          type: type
        - consumed: 0
          quantity: 6
          id: id
          type: type
        sku: sku
        startDate: 2006-01-02T15:04:05.000Z
        status: status
      properties:
        contractNumber:
          type: string
        endDate:
          description: Date represents the date format used for API returns
          example: 2006-01-02T15:04:05.000Z
          type: string
        pools:
          items:
            $ref: '#/components/schemas/Pool'
          type: array
        quantity:
          type: string
        sku:
          type: string
        startDate:
          description: Date represents the date format used for API returns
          example: 2006-01-02T15:04:05.000Z
          type: string
        status:
          type: string
        subscriptionName:
          type: string
        subscriptionNumber:
          type: string
      title: DetailResponse is the user-friendly response from the service.
      type: object
    DownloadLink:
      properties:
        expiration:
          description: time at which the download link expires (in UTC)
          example: 2006-01-02T15:04:05.000Z
          type: string
        filename:
          description: filename of the file on the download link
          example: filename-1.2.3-1.x86_64.rpm
          type: string
        href:
          description: URL to obtain the image
          example: https://access.cdn.redhat.com/content/origin/files/sha256/64/643e706cf7db9e93e706637af92d80eb58377dd0c64ac1e9ce6a72700aa04c2a/rhel-8.1-x86_64-boot.iso?_auth_=1582920605_7e8153e1bdc2f46636653e2efb17bc65
          type: string
      type: object
    EnabledCloudAccessProvider:
      description: Enabled Cloud Access Provider details including products and accounts.
      example:
        name: name
        accounts:
        - sourceId: sourceId
          goldImageStatus:
          - name: RHEL
            description: Red Hat Enterprise Linux
            status: Requested
          - name: RHEL
            description: Red Hat Enterprise Linux
            status: Requested
          nickname: nickname
          verified: true
          id: id
          dateAdded: 2006-01-02T15:04:05.000Z
        - sourceId: sourceId
          goldImageStatus:
          - name: RHEL
            description: Red Hat Enterprise Linux
            status: Requested
          - name: RHEL
            description: Red Hat Enterprise Linux
            status: Requested
          nickname: nickname
          verified: true
          id: id
          dateAdded: 2006-01-02T15:04:05.000Z
        shortName: shortName
        products:
        - totalQuantity: 6
          nextRenewal: 2006-01-02
          name: name
          enabledQuantity: 0
          sku: sku
          imageGroups:
          - imageGroups
          - imageGroups
        - totalQuantity: 6
          nextRenewal: 2006-01-02
          name: name
          enabledQuantity: 0
          sku: sku
          imageGroups:
          - imageGroups
          - imageGroups
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/EnabledProviderAccount'
          type: array
        name:
          type: string
        products:
          items:
            $ref: '#/components/schemas/EnabledProduct'
          type: array
        shortName:
          type: string
      type: object
    EnabledProduct:
      description: Enabled Product represents a cloud access provider product
      example:
        totalQuantity: 6
        nextRenewal: 2006-01-02
        name: name
        enabledQuantity: 0
        sku: sku
        imageGroups:
        - imageGroups
        - imageGroups
      properties:
        enabledQuantity:
          type: integer
        imageGroups:
          items:
            type: string
          type: array
        name:
          type: string
        nextRenewal:
          description: ShortDate represents the short date format used for API returns
            where time precision is not needed
          example: 2006-01-02
          type: string
        sku:
          type: string
        totalQuantity:
          type: integer
      type: object
    EnabledProviderAccount:
      description: Enabled Provider Account represents a cloud access provider account
      example:
        sourceId: sourceId
        goldImageStatus:
        - name: RHEL
          description: Red Hat Enterprise Linux
          status: Requested
        - name: RHEL
          description: Red Hat Enterprise Linux
          status: Requested
        nickname: nickname
        verified: true
        id: id
        dateAdded: 2006-01-02T15:04:05.000Z
      properties:
        dateAdded:
          description: Date represents the date format used for API returns
          example: 2006-01-02T15:04:05.000Z
          type: string
        goldImageStatus:
          items:
[...]
